/* Всплывающие уведомления */

.float-notification {
    z-index: 9999;
    position: fixed;
    bottom: 2em;
    right: 2em;
}

.float-notification>div {
    margin-top: 5px;
    position: relative;
}

.float-notification>div img {
    display: block;
    opacity: 0.75;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.float-notification>div:hover img {
    opacity: 1;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.float-notification>div span.hint {
    position: absolute;
    right: 45px;
    font-size: 12px;
    line-height: 16px;
    width: 170px;
    /*background-color: rgba(0,0,0,0.3);*/
    opacity: 0; 
    visibility: hidden;
    color: rgba(255,255,255,0.85);
    padding-right: 10px;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.float-notification>div:hover span.hint {
    opacity: 0.85; 
    visibility: visible;
    
    /*transition-duration: .12s;
    transition-timing-function: ease-out;    */
}

.float-notification span.hint a {
    background-color: #333;
    color: rgba(255,255,255,0.75);
    display: block;
    padding: 8px 12px;
    border-radius: 8px;
}

.float-notification span.hint a:hover {
    color: #fff;
}

.float-notification>div span.hint::after {
    content: ''; 
    position: absolute;
    top: 16px;
    right: -5px;
    border: 8px solid transparent;
    border-left: 8px solid #333;
}

.float-notification>div span.type {
    background-color: #fff;
    padding: 3px;
    border-radius: 12px;
    color: #e55005;
    font-size: 12px;
    line-height: 14px;
    width: 14px;
    text-align: center;
    position: absolute;
    z-index: 10000;
    bottom: -4px;
    right: -4px;
}

.float-notification>div span.close {
    background-color: #fff;
    padding: 2px;
    border-radius: 12px;
    color: #e55005;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    z-index: 10000;
    right: -2px;
    top: -2px;
    opacity: 0;
    visibility: hidden;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.float-notification>div:hover span.close {
    opacity: 1;
    visibility: visible;
}




/* Уведомления */

.custom-button a.button {
    padding: 4px 8px;
    margin: 0;
    background: #ededed;
    color: #545557;
    font-size: 12px;
    display: inline-block;
}

.custom-button a.notification-to-not-new {
    color: #e55005;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.custom-button a.notification-to-new {
    color: #545557;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.custom-notifications tr.new .custom-button a.notification-to-not-new { display: block; }
.custom-notifications .custom-button a.notification-to-not-new { display: none; }
.custom-notifications tr.new .custom-button a.notification-to-new { display: none; }
.custom-notifications .custom-button a.notification-to-new { display: none; }
.custom-notifications tr:hover .custom-button a.notification-to-new { display: block; }
.custom-notifications tr.new:hover .custom-button a.notification-to-new { display: none; }


.custom-notifications span.time-since {
	/*float:right;*/
	background:#F2F2F2;
	font-size: 85%;
	color:#828282;
	padding: 3px 10px;
	display: inline-block;
	text-decoration: none;
	border-radius: 2px;
    white-space: nowrap;
}

.custom-notifications {
    border-bottom: 0;
}

.custom-notifications tr.new td.cn-description {
    font-weight: bold;
}

.custom-notifications td {
    padding: 8px;
}

.custom-notifications td.cn-check,
.custom-notifications td.cn-avatar,
.custom-notifications td.cn-delete {
    width: 1px;
}

.custom-notifications td.cn-is-new {
    width: 12px;
}

.custom-notifications td.cn-is-new {
    padding: 8px 0 8px 16px;
}

.custom-notifications td.cn-actions div {
    float: right;
    margin-left: 10px;
}

.custom-notifications td img.avatar {
    display: block;
}

.custom-notifications thead tr,
.custom-notifications tbody tr:hover {
    background-color: #f8f8f8;
}

.custom-notifications tbody tr.load-more,
.custom-notifications tbody tr.load-more:hover {
    background-color: inherit;
}

.custom-notifications tbody tr.load-more td {
    /*padding-top: 30px;*/
    height: 50px;
    text-align: center;
}
 
.custom-notifications tbody tr.load-more td div {
    margin: 20px 0 -20px 0;
}

.custom-notifications tbody tr.load-more .loader {
    display: none;
}

.custom-notifications tbody tr.load-more.loading div {
    display: none;
}

.custom-notifications tbody tr.load-more.loading div.loader {
    display: block;
}



/* Приватность страниц */

.profile-hidden #item-meta {
    display: none;
}


/* Стили для репоста */

body.repost-activity-form #whats-new-submit {
    display: none;
}

#repost-submit-wrap {
    float: right;
    margin-top: 12px;
}

/*.repost-activity {
    margin-top: 40px;
    margin-left: -21px;
}*/

/*.repost-activity .activity-inner {
    margin-left: 0px;
}*/


/* Кнопки "Нравится", "Избранное" и др. */

.activity-meta div.like,
.activity-meta div.favorite,
.activity-meta div.repost,
.activity-meta div.remove {
	position: relative;
    display: inline-block;
}

.activity-meta div.remove {
    float: right;
}

div a.bp-primary-action i {
	color: #AAA;
    transition-duration: 100ms;
}

div.active a.bp-primary-action i {
	color: #FA0;
    transition-duration: 100ms;
}



/* Уточнение всплывающих меню для кнопки "Нравится" */

div.like .mif-bpc-hint {
    right: auto;
}

div.like .mif-bpc-hint:before, 
div.like .mif-bpc-hint:after {
	left: 10px;
    border-top: 8px solid #E3E4E5;
}

div.like .mif-bpc-hint:after {
	left: 11px;
    border-top: 7px solid #F2F2F2;
}

div.like .mif-bpc-hint img.avatar {
    margin: 0;
    float: none;
    vertical-align: top;
}

div.like .mif-bpc-hint div {
    padding: 10px 5px;
    background: #F2F2F2;
    overflow: hidden;
}

div.like .mif-bpc-hint span.avatar, 
div.like .mif-bpc-hint span.more {
    margin: 3px;
}

div.like .mif-bpc-hint span.more i {
    display: inline-block;
    line-height: 20px;
    padding: 5px;
    background: #fff;
}

div.like .mif-bpc-hint span.more a {
    background-color: inherit;
}

div.like .mif-bpc-hint span.more span.wrap {
    display: inline-block;
    padding: 3px;
    border: 1px solid #e7e7e7;
}

div.like .mif-bpc-hint span.avatar a {
    padding: 0;
    display: inline;
}

div.like .mif-bpc-hint span.current_user {
    /*display: none;*/
    margin-left: -41px;
    opacity: 0;
    transition: opacity 100ms ease, margin 100ms ease-out;
}

div.like.active .mif-bpc-hint span.current_user {
    /*display: inline;*/
    margin-left: 3px;
    opacity: 1;
    transition: opacity 100ms ease 100ms, margin 100ms ease-out;
}

div.like .mif-bpc-hint span.n4 {
    /*display: inline;*/
    margin-right: 3px;
    transition: margin 100ms ease-out;
}

div.like.active .mif-bpc-hint span.n4 {
    /*display: none;*/
    margin-right: -44px;
    transition: margin 100ms ease-out;
}



/* Уточнение всплывающих меню для профиля пользователя */

#item-buttons .mif-bpc-hint {
    bottom: 30px;
}

i.banned-users.icon {
    float: right;
    margin: 17px 8px 0 0;
    color: #eaeaea;
}

i.banned-users.icon.none, 
.acomment-reply.none, 
.friendship-button.none,
.activity-meta div.repost.none,
.activity-meta div.like.none
{
    display: none;
}



/* Настройка всплывающих меню для ленты активности */

.mif-bpc-hint {
    position: absolute;
    margin: 0;
    padding: 0 0 15px 0;
    bottom: 20px;
    right: 0px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms linear, visibility 100ms linear;
}

.mif-bpc-hint div {
    padding: 3px 0;
    background-color: #fff;
    border: 1px solid #E3E4E5; 
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

div:hover > .mif-bpc-hint, a:hover > .mif-bpc-hint, .mif-bpc-hint:hover {
    transition: opacity 100ms linear, visibility 100ms linear;
    visibility: visible;
    opacity: 1;
}

.mif-bpc-hint:before, .mif-bpc-hint:after {
	position: absolute;
	content: "";
	width: 0; 
    bottom: 7.5px;
	right: 10px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
    border-top: 8px solid #E3E4E5;
}

.mif-bpc-hint:after {
    bottom: 9px;
	right: 11px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
    border-top: 7px solid #fff;
}

div.activity-meta .mif-bpc-hint a, #item-buttons .mif-bpc-hint a, .mif-bpc-hint a {
    color: #0086b3;
    padding: 4px 15px;
    display: block;
    background-color: #fff;
    border-radius: 0px;
    text-align: left;
    white-space: nowrap;
}

div.activity-meta .mif-bpc-hint a:hover, #item-buttons .mif-bpc-hint a:hover, .mif-bpc-hint a:hover {
    color: #222;
    display: block;
    background-color: #ededed;
}


/* Настройка кнопки на странице профиля пользователя */

div#item-header div.right, div#item-header div.generic-button.right {
    float: right;
}

div#item-header div.generic-button a.gray {
    background: #eaeaea;
    color: #828282;
}

div#item-header div.generic-button a.gray:hover {
    background: #414141;
    color: #fff;
}

.relative {
    position: relative;
}

/* Настройка кнопок в ленте активности */

div.activity-meta div.right {
    float: right;
}

div.activity-meta a.disable-activity-type {
    color: #828282;
}

div.activity-meta a.disable-activity-type:hover {
    color: #fff;
}

/* Настройка окна добавления пользователей */

.members-page .add-member {
    clear: both;
    padding: 1em;
    margin: 1em 0;
    border: 3px dashed #eaeaea;
}

.members-page .add-btn, .members-page .submit-btn {
    display: block;
    margin: 1.5em 0;
    text-align: center;
}

.members-page .add-form, .members-page .response-box {
    display: none;
}

.members-page .add-form div {
    overflow: hidden;
}

.members-page .add-form textarea {
    width: 100%;
    height: 6em;
}




/* Настройка форм настроек в профиле */

.nav-settings-form h4 {
    display: block;
    padding: 0 0 10px;
    margin: 2em 0 1em;
    border-bottom: 1px solid #E3E4E5;
}

.nav-settings-form label {
    display: block;
    margin: 0 0 0.5em;
}

.nav-settings-form label input {
    margin: 0 0 0 1em;
}


/* Настройка виджетов пользователей и групп */

.members_widget span.avatar, .groups_widget span.avatar {
    display: inline-block;
    margin: 0 4px 8px 4px;
}

.members_widget span.avatar img, .groups_widget span.avatar img {
    /*border: 3px solid #fff;*/
    float: left;
}




/* Настройка редактирования адреса группы */

.slug-edit {
    margin: 3em 0 0 0;
}

.slug-edit div {
    float: left;
    background-color: #E2E2E2;
    font-family: sans-serif;
    padding: 11px 12px;
    line-height: normal;
    border-radius: 2px;
}



/* Настройка загрузки фонового изображения */

.custom-background-image img {
    max-width: 640px;
}

.custom-background-wrapper h4 {
    border-bottom: 1px solid #E3E4E5;
    margin: 30px 0 20px;
    padding: 0 0 10px;
}



/* Настройка страницы настройки */


.settings_page_mif-bp-customizer table td.one {
    width: 20%;
}

.settings_page_mif-bp-customizer table td, .settings_page_mif-bp-customizer table th {
    vertical-align: top;
    padding: 8px 8px 24px 0px;
}

.settings_page_mif-bp-customizer table td label {
    vertical-align: top;
}

.settings_page_mif-bp-customizer table td h2 {
    margin-bottom: 0;
}











/* Убираем уменьшение элементов активности для mini-сообщений */

/*.activity-list li.mini {
    font-size: inherit!important;
}

.activity-list li.mini .activity-avatar img.FB_profile_pic, #buddypress .activity-list li.mini .activity-avatar img.avatar {
     height: inherit!important; 
     margin-left: inherit!important;
     width: inherit!important;
}*/

/*#buddypress div#message, #buddypress div.message, .bp-cover-image-status, .bp-avatar-status {
    margin: 1em 0;
    padding: 2em;
    text-decoration: none;
    background-color: #efefef;
    border: 0;
    border-left: 0;
    color: inherit;
    border-left: 4px solid #74C046;
}*/

/*#buddypress div#message p, #buddypress div.message p, #buddypress div#message.error p {
    margin: 0;
    margin-bottom: 1.5em;
    padding: 0;
    text-decoration: none;
    background-color: #efefef;
    border: 0;
    border-left: 0;
    color: inherit;
}*/

/*#buddypress div#message p:last-child, #buddypress div.message p:last-child {
    margin-bottom: 0;
}

#buddypress div#message.info, #buddypress div.message.info, .bp-cover-image-status, .bp-avatar-status {
    border-left: 4px solid #74C046;
}
*/
/*.bp-cover-image-status p.warning, .bp-avatar-status p.warning, .bp-template-notice p {
    margin: 0!important;
    padding: 0!important;
    text-decoration: none!important;
    background-color: #efefef!important;
    border: 0!important;
    border-left: 0!important;
    color: inherit!important;
}*/

/*#buddypress div#message.warning, #buddypress div.message.warning {
    border-left: 4px solid #F48625;
}

#buddypress div#message.error, #buddypress div.message.error {
    border-left: 4px solid #EE1C25;
}

#drag-drop-area {
    border: 3px dashed #eaeaea;
}


#buddypress table.forum tr.alt td, #buddypress table.messages-notices tr.alt td, #buddypress table.notifications tr.alt td, #buddypress table.notifications-settings tr.alt td, #buddypress table.profile-fields tr.alt td, #buddypress table.profile-settings tr.alt td, #buddypress table.wp-profile-fields tr.alt td {
       color: inherit;
}*/

