/* Уточнение всплывающих меню для профиля пользователя */

#item-buttons .mif-bpc-hint {
   right: 27px;
}


/* Настройка всплывающих меню для ленты активности */

.mif-bpc-hint {
    position: absolute;
    margin: 0;
    padding: 15px 0 0 0;
    right: 15px;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms linear, visibility 100ms linear;
}

.mif-bpc-hint div {
    padding: 3px 0;
    background-color: #fff;
    border: 1px solid #E3E4E5; 
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

div:hover > .mif-bpc-hint, .mif-bpc-hint:hover {
    transition: opacity 100ms linear, visibility 100ms linear;
    visibility: visible;
    opacity: 1;
}

.mif-bpc-hint:before, .mif-bpc-hint:after {
	position: absolute;
	content: "";
	width: 0; 
    top: 7px;
	right: 10px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
    border-bottom: 8px solid #E3E4E5;
}

.mif-bpc-hint:after {
    top: 8.5px;
	right: 11px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
}

div.activity-meta .mif-bpc-hint a, #item-buttons .mif-bpc-hint a, .mif-bpc-hint a {
    color: #0086b3;
    padding: 4px 15px;
    display: block;
    background-color: #fff;
    border-radius: 0px;
    text-align: left;
}

div.activity-meta .mif-bpc-hint a:hover, #item-buttons .mif-bpc-hint a:hover, .mif-bpc-hint a:hover {
    color: #222;
    display: block;
    background-color: #ededed;
}


/* Настройка кнопки на старнице профиля пользователя */

div#item-header div.generic-button.right {
    float: right;
}

div#item-header div.generic-button a.gray {
    background: #eaeaea;
    color: #828282;
}

div#item-header div.generic-button a.gray:hover {
    background: #414141;
    color: #fff;
}


/* Настройка кнопок в ленте активности */

div.activity-meta div.right {
    float: right;
}

div.activity-meta a.disable-activity-type {
    color: #828282;
}

div.activity-meta a.disable-activity-type:hover {
    color: #fff;
}

/* Настройка окна добавления пользователей */

.members-page .add-member {
    clear: both;
    padding: 1em;
    margin: 1em 0;
    border: 3px dashed #eaeaea;
}

.members-page .add-btn, .members-page .submit-btn {
    display: block;
    margin: 1.5em 0;
    text-align: center;
}

.members-page .add-form, .members-page .response-box {
    display: none;
}

.members-page .add-form div {
    overflow: hidden;
}

.members-page .add-form textarea {
    width: 100%;
    height: 6em;
}




/* Настройка форм настроек в профиле */

.nav-settings-form h4 {
    display: block;
    padding: 0 0 10px;
    margin: 2em 0 1em;
    border-bottom: 1px solid #E3E4E5;
}

.nav-settings-form label {
    display: block;
    margin: 0 0 0.5em;
}

.nav-settings-form label input {
    margin: 0 0 0 1em;
}


/* Настройка виджетов пользователей и групп */

.members_widget span.avatar, .groups_widget span.avatar {
    display: inline-block;
    margin: 0 4px 8px 4px;
}

.members_widget span.avatar img, .groups_widget span.avatar img {
    border: 3px solid #fff;
    float: left;
}


/* Настройка редактирования адреса группы */

.slug-edit {
    margin: 3em 0 0 0;
}

.slug-edit div {
    float: left;
    background-color: #E2E2E2;
    font-family: sans-serif;
    padding: 11px 12px;
    line-height: normal;
    border-radius: 2px;
}



/* Настройка загрузки фонового изображения */

.custom-background-image img {
    max-width: 640px;
}

.custom-background-wrapper h4 {
    border-bottom: 1px solid #E3E4E5;
    margin: 30px 0 20px;
    padding: 0 0 10px;
}



/* Настройка страницы настройки */


.settings_page_mif-bp-customizer table td.one {
    width: 20%;
}

.settings_page_mif-bp-customizer table td, .settings_page_mif-bp-customizer table th {
    vertical-align: top;
    padding: 8px 8px 24px 0px;
}

.settings_page_mif-bp-customizer table td label {
    vertical-align: top;
}

.settings_page_mif-bp-customizer table td h2 {
    margin-bottom: 0;
}











/* Убираем уменьшение элементов активности для mini-сообщений */

/*.activity-list li.mini {
    font-size: inherit!important;
}

.activity-list li.mini .activity-avatar img.FB_profile_pic, #buddypress .activity-list li.mini .activity-avatar img.avatar {
     height: inherit!important; 
     margin-left: inherit!important;
     width: inherit!important;
}*/

/*#buddypress div#message, #buddypress div.message, .bp-cover-image-status, .bp-avatar-status {
    margin: 1em 0;
    padding: 2em;
    text-decoration: none;
    background-color: #efefef;
    border: 0;
    border-left: 0;
    color: inherit;
    border-left: 4px solid #74C046;
}*/

/*#buddypress div#message p, #buddypress div.message p, #buddypress div#message.error p {
    margin: 0;
    margin-bottom: 1.5em;
    padding: 0;
    text-decoration: none;
    background-color: #efefef;
    border: 0;
    border-left: 0;
    color: inherit;
}*/

/*#buddypress div#message p:last-child, #buddypress div.message p:last-child {
    margin-bottom: 0;
}

#buddypress div#message.info, #buddypress div.message.info, .bp-cover-image-status, .bp-avatar-status {
    border-left: 4px solid #74C046;
}
*/
/*.bp-cover-image-status p.warning, .bp-avatar-status p.warning, .bp-template-notice p {
    margin: 0!important;
    padding: 0!important;
    text-decoration: none!important;
    background-color: #efefef!important;
    border: 0!important;
    border-left: 0!important;
    color: inherit!important;
}*/

/*#buddypress div#message.warning, #buddypress div.message.warning {
    border-left: 4px solid #F48625;
}

#buddypress div#message.error, #buddypress div.message.error {
    border-left: 4px solid #EE1C25;
}

#drag-drop-area {
    border: 3px dashed #eaeaea;
}


#buddypress table.forum tr.alt td, #buddypress table.messages-notices tr.alt td, #buddypress table.notifications tr.alt td, #buddypress table.notifications-settings tr.alt td, #buddypress table.profile-fields tr.alt td, #buddypress table.profile-settings tr.alt td, #buddypress table.wp-profile-fields tr.alt td {
       color: inherit;
}*/

