/* Список пользователей для нового сообщения */

.thread-wrap .member-item {
    padding: 10px;
    border-bottom: 1px solid #E3E4E5;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.thread-wrap .member-item:hover {
    background-color: #f8f8f8;
}

.thread-wrap .member-item.loader {
    text-align: center;
    padding-top: 20px;
    border-bottom: 0;
}

.thread-wrap .member-item.loader:hover {
    background-color: inherit;
}

.thread-wrap .member-item span.avatar {
    float: left;
    margin-right: 10px;
}

.thread-wrap .member-item span.name {
    width: 200px;
    display: inline-block;
}

.thread-wrap .member-item span.avatar img {
    display: block;
}

.thread-wrap .member-item:after {
    content: ''; 
    clear: both;
    display: block;
}

.thread-wrap .member-item .add {
    float: right;
}

.thread-wrap .member-item .add a.button {
    color: #828282;
    background-color: inherit;
    opacity: 0;
}

.thread-wrap .member-item:hover .add a.button {
    opacity: 1;
}

.thread-wrap .member-item .add a.button:hover {
    background-color: #eee;
    color: #828282;
}




/* Форма нового сообщения */

.compose-wrap {
    margin: 20px;
}

.compose-wrap div {
    margin-top: 10px;
}

.compose-wrap .recipients {
    min-height: 40px;
    background-color: #eee;
}

.compose-wrap .textarea textarea {
    width: 100%;
    height: 12rem;
    font: inherit;
}

.dialogues-page.compose {
    height: auto;
    min-height: 100vh;
    /*margin-bottom: 0;*/
}

.dialogues-page.compose .messages-wrap {
    min-height: 100vh;
    height: auto;
}


/* Диалоги */

.dialogues-page .attach {
    border: 1px dashed #ccc;
    display: block;
    padding: 5px 10px;
    margin-top: 1rem;
    margin-right: 20px;
}

.dialogues-page .attach .icon {
    padding: 5px 8px;
    margin: 5px 0;
    background-color: #0185B5;
    color: #eee;
    float: left;
}

.dialogues-page .attach .name {
    /*float: left;*/
    margin-left: 35px;
    display: block;
}

.dialogues-page .members {
    /*background-color: yellow;*/
    width: 300px;
    float: left;
}

.dialogues-page .members .thread-item {
    /*padding: 10px 5px;*/
    border-bottom: 1px solid #E3E4E5;
    /*background-color: #f2f2f2;*/
    transition-duration: .12s;
    transition-timing-function: ease-out;    
    cursor: pointer;
}

.dialogues-page .members .thread-item>div {
    border-left: 5px solid transparent;
    overflow: auto;
    padding: 10px 5px;
}

.dialogues-page .members .thread-item.current>div {
    /*background-color: #0185B5;*/
    border-left: 5px solid #0185B5;
    /*background-color: #f2f2f2;*/
    background-color: #f8f8f8;
}

/*.dialogues-page .members .thread-item.current .unread_count {
    opacity: 0;
    transition-delay: .25s;
    transition-duration: .25s;
    transition-timing-function: ease-out;    
}*/

.dialogues-page .members .thread-item:hover {
    /*background-color: #f2f2f2;*/
    background-color: #f8f8f8;
}

.dialogues-page .members .thread-item:after {
    content: ''; 
    clear: both;
    display: block;
    /*margin-bottom: 0.5em;*/
}

.dialogues-page .members .thread-item .title {
    color: #0086b3;
    clear: both;
}

.dialogues-page .members .thread-item .unread_count {
    float: right;
    padding: 2px 10px;
    background-color: #e55005;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    /*color: #0086b3;*/
    /*clear: both;*/
}

/*.dialogues-page .members .thread-item.current .title {
    color: #f2f2f2;
}*/

.dialogues-page .members .thread-item .time-since {
    clear: both;
}

.dialogues-page .members .thread-item .content {
    margin-left: 10px;
    width: 215px;
    float: left;
    overflow: hidden;
}

.dialogues-page .members .thread-item .avatar {
    float: left;
}

.dialogues-page .members .thread-item.loader {
    text-align: center;
    padding-top: 20px;
    border-bottom: 0;
}

.dialogues-page .members span.title {
    font-size: 13px;
    line-height: normal;
}

.dialogues-page span.time-since {
    display: inline-block;
    background: #F2F2F2;
    font-size: 11px;
    color: #828282;
    padding: 1px 6px;
    text-decoration: none;
    border-radius: 2px;
}

.dialogues-page .members span.message-excerpt {
    font-size: 13px;
    line-height: normal;
    color:#828282;
}

/*.dialogues-page .members .thread-item.current span.message-excerpt {
    color:#eee;
}*/

.dialogues .members .thread-wrap {
    height: 100vh;
    box-sizing: border-box;
    padding: 130px 0 50px 0;
    margin-top: -130px;
}

.dialogues-page {
    height: 100vh;
    margin-bottom: -50px;
}


/*.dialogues .members span {
    float: left;
}*/


.dialogues-page .dialogues-header {
    padding-top: 30px;
    height: 80px;
    box-sizing: border-box;
}

.dialogues-page .dialogues-header .custom-button a,
.dialogues-page .dialogues-page .custom-button a {
    padding: 8px 12px;
    bottom: 0;
}

.dialogues-page .custom-button .dialogues-fix {
    float: right;
}


.dialogues-page .messages {
    /*background-color: red;*/
    border-left: 1px solid #E3E4E5;
    margin-left: 300px;
}


@media only screen and (max-width: 768px) {

    .dialogues-page .members {
        width: auto;
        float: none;
    }
    
}

/*.fix {
    position: fixed;
    top: 0;
}*/

.fix {
    overflow: hidden;
}


.dialogues-page .search,
.dialogues-page .messages-header {
    border-top: 1px solid #E3E4E5;
    border-bottom: 1px solid #E3E4E5;
    padding: 4px 0;
    background-color: #f8f8f8;
    /*height: 50px;*/
    box-sizing: border-box;
}

.dialogues-page .messages-header {
    /*border-left: 1px solid #E3E4E5;*/
    height: 50px;
    padding: 0 20px;
}

.dialogues-page .messages-header-content {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}

.dialogues-page .messages-header-content .title {
    font-weight: bold;
}

.dialogues-page .messages-header-content .time-since {
    background: #ededed;
    color: #666;
}

.dialogues-page input[type='text'], 
.dialogues-page input[type='text']:focus  {
    box-shadow: none;
    border: 0;
    border-radius: 0;
    /*background: #fff;*/
    height: 40px;
    padding: 5px 10px; 
    box-sizing: border-box;
    background-color: #f8f8f8;
}

.dialogues-page input[type="text"]::-webkit-input-placeholder {
    color: #ccc;
} 

.dialogues-page input[type="text"]::-moz-placeholder {
    color: #ccc;
} 
    
.dialogues-page .members input[type='text']  {
    width: 250px;
    font: inherit;
}

.dialogues-page .messages-wrap {
    height: 100vh;
    box-sizing: border-box;
    padding: 130px 0 130px 0;
    margin-top: -130px;
}

.dialogues-page .messages-wrap .messages-items {
    height: 100%;
    /*overflow: auto;*/
    /*border-left: 1px solid #E3E4E5;*/
}


.dialogues-page .messages-form {
    margin-top: -100px;
    margin-bottom: 50px; 
    background-color: #f8f8f8;
    border-top: 1px solid #E3E4E5;
    border-bottom: 1px solid #E3E4E5;
}

.dialogues-page .messages-form span {
    float: left;
}

.dialogues-page .messages-form textarea,
.dialogues-page .messages-form textarea:focus {
    box-shadow: none;
    border: 1px solid #D6D6D6;
    width: 100%;
    border-radius: 0;
    /*line-height: 18px;*/
    background-color: #fff;
    padding: 10px;
    /*line-height: 1.55em;*/
    /*height: 40px;*/
    resize: none;
    font: inherit;
}

.dialogues-page .messages-form textarea::-webkit-input-placeholder {
    color: #ccc;
} 

.dialogues-page .messages-form table {
    width: 100%;
    border: 0;
    margin-bottom: 0;
}

.dialogues-page .messages-form td.clip,
.dialogues-page .messages-form td.send {
    padding: 14px 0;
    width: 60px;
    text-align: center;
    border: 0;
}

.dialogues-page .messages-form td.clip {
    vertical-align: top;
}

.dialogues-page .messages-form td.send {
    vertical-align: bottom;
}

.dialogues-page .messages-form td.message {
    padding: 14px 0;
    vertical-align: bottom;
    border: 0;
}

.dialogues-page .messages-form a.clip {
    color: #777;
    padding: 5px 0;
    display: inline-block;
}

.dialogues-page .messages-form a.button {
    padding: 8px 12px;
    margin: 4px;
}

.dialogues-page .messages-form .form-empty {
    height: 48px;
}




.dialogues-page .messages-wrap .messages-empty {
    height: 100%;
    display: flex;
}

.dialogues-page .messages-wrap .messages-empty div {
    margin: auto;
    text-align: center;
}

.dialogues-page .messages-wrap .messages-empty div i {
    color: #d6d6d6;
}

.dialogues-page .messages-wrap .remove-window {
    padding: 4rem;
    text-align: center;
}

.dialogues-page .messages-wrap .message-item {
    padding: 15px 0 10px 15px;
    overflow: hidden;
    border-left: 5px solid transparent;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.dialogues-page .messages-wrap .message-item.alone {
    border-top: 2px solid #eee;
    border-left: 0;
    text-align: center;
    margin: 20px 20px 0 20px;
    overflow: visible;
    padding: 0;
}

.dialogues-page .messages-wrap .message-item.loader {
    text-align: center;
}

.dialogues-page .messages-wrap .message-item.loader:hover {
    background-color: inherit;
}

.dialogues-page .messages-wrap .message-item.alone span {
    padding: 3px 20px;
    background-color: #fff;
    top: -12px;
    position: relative;
    font-weight: bold;
}

/*.dialogues-page .messages-wrap .message-item.new {
    background-color: #f8f8f8;
    border-left: 5px solid #e55005;
}*/

/*.dialogues-page .messages-wrap .message-item.new .title a {
    font-weight: bold;
}*/

/*.dialogues-page .messages-wrap .message-item.loader {
    height: 50vh;
}*/

.dialogues-page .messages-wrap .message-item div.avatar {
    float: left;
}

/*.dialogues-page .messages-wrap .message-item div.remove {
    float: right;
    margin-right: 15px;
    opacity: 0;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}*/

.dialogues-page div.remove {
    float: right;
    margin-right: 15px;
    opacity: 0;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.dialogues-page .thread-item.unread:hover div.remove {
    opacity: 0;
}

.dialogues-page .message-item:hover div.remove,
.dialogues-page .thread-item:hover div.remove {
    opacity: 1;
}

.dialogues-page .thread-item div.remove {
    margin-right: 0;
}

.dialogues-page div.remove .custom-button a.button {
    background-color: inherit;
    color: #828282;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.dialogues-page div.remove .custom-button a.button:hover {
    background-color: #eee;
    color: #828282;
}

.dialogues-page .messages-wrap .message-item:hover {
    background-color: #f8f8f8;
}

/*.dialogues-page .messages-wrap .message-item:hover div.remove {
    opacity: 1;
}*/

/*.dialogues-page .messages-wrap .message-item div.remove .custom-button a.button {
    background-color: inherit;
    color: #828282;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.dialogues-page .messages-wrap .message-item div.remove .custom-button a.button:hover {
    background-color: #eee;
    color: #828282;
}*/

.dialogues-page .messages-wrap .message-item div.content {
    margin-left: 60px;
}

.dialogues-page .messages-wrap .message-item div.content p.sended i.fa {
    width: 24px;
    margin-left: -24px;
    color: #828282;
    opacity: 0;
}

.dialogues-page .messages-wrap .message-item div.content p.sended.clock i.fa {
    opacity: 1;
    transition-duration: .2s;
    transition-delay: .5s;
}

.dialogues-page .messages-wrap .message-item div.time-since {
    clear: both;
}

.dialogues-page .messages-wrap .message-item span.message {
    margin-top: 5px;
    display: block;
}



/* Скроллер */

.scroller-wrap {
	position: relative;
	overflow: hidden;
	/*width: 300px;*/
	height: 100%;
	/*margin: 1px auto;
	background: #fff;
	border: 1px solid #fc9;*/
}
.scroller {
	height: 100%;
	overflow-y: scroll;
}
.scroller::-webkit-scrollbar {
    width: 0;
}
.scroller__bar {
	position: absolute;
    z-index: 1;
    right: 4px;
    /*display: none;*/
    width: 8px;
    min-height: 50px;
    border-radius: 3px;
    background: #AAA;
    /*opacity: .6;*/
    opacity: 0;
    transition: width .2s linear;
    cursor: pointer;
}
.scroller__bar:hover,
.scroller.scrolling .scroller__bar {
	opacity: .8;
    transition-duration: .2s;
    transition-delay: .2s;

}
.scroller__bar_state_on {
	display: block;
}

.scroller .scroller-container {
	overflow: hidden;
}



/* Всплывающие уведомления */

.float-notification {
    z-index: 9999;
    position: fixed;
    bottom: 2em;
    right: 2em;
}

.float-notification>div {
    margin-top: 5px;
    position: relative;
}

.float-notification>div img {
    display: block;
    opacity: 0.75;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.float-notification>div:hover img {
    opacity: 1;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.float-notification>div span.hint {
    position: absolute;
    right: 45px;
    font-size: 12px;
    line-height: 16px;
    width: 170px;
    /*background-color: rgba(0,0,0,0.3);*/
    opacity: 0; 
    visibility: hidden;
    color: rgba(255,255,255,0.85);
    padding-right: 10px;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.float-notification>div:hover span.hint {
    opacity: 0.85; 
    visibility: visible;
    
    /*transition-duration: .12s;
    transition-timing-function: ease-out;    */
}

.float-notification span.hint a {
    background-color: #333;
    color: rgba(255,255,255,0.75);
    display: block;
    padding: 8px 12px;
    border-radius: 8px;
}

.float-notification span.hint a:hover {
    color: #fff;
}

.float-notification>div span.hint::after {
    content: ''; 
    position: absolute;
    top: 16px;
    right: -5px;
    border: 8px solid transparent;
    border-left: 8px solid #333;
}

.float-notification>div span.type {
    background-color: #fff;
    padding: 3px;
    border-radius: 12px;
    color: #e55005;
    font-size: 12px;
    line-height: 14px;
    width: 14px;
    text-align: center;
    position: absolute;
    z-index: 10000;
    bottom: -4px;
    right: -4px;
}

.float-notification>div span.close {
    background-color: #fff;
    padding: 2px;
    border-radius: 12px;
    color: #e55005;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    z-index: 10000;
    right: -2px;
    top: -2px;
    opacity: 0;
    visibility: hidden;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.float-notification>div:hover span.close {
    opacity: 1;
    visibility: visible;
}




/* Уведомления */

.custom-button a.button {
    padding: 4px 8px;
    margin: 0;
    background: #ededed;
    color: #545557;
    font-size: 12px;
    display: inline-block;
}

.custom-button a.notification-to-not-new {
    color: #e55005;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.custom-button a.notification-to-new {
    color: #545557;
    transition-duration: .12s;
    transition-timing-function: ease-out;    
}

.custom-notifications tr.new .custom-button a.notification-to-not-new { display: block; }
.custom-notifications .custom-button a.notification-to-not-new { display: none; }
.custom-notifications tr.new .custom-button a.notification-to-new { display: none; }
.custom-notifications .custom-button a.notification-to-new { display: none; }
.custom-notifications tr:hover .custom-button a.notification-to-new { display: block; }
.custom-notifications tr.new:hover .custom-button a.notification-to-new { display: none; }


.custom-notifications span.time-since {
	/*float:right;*/
	background:#F2F2F2;
	font-size: 85%;
	color:#828282;
	padding: 3px 10px;
	display: inline-block;
	text-decoration: none;
	border-radius: 2px;
    white-space: nowrap;
}

.custom-notifications {
    border-bottom: 0;
}

.custom-notifications tr.new td.cn-description {
    font-weight: bold;
}

.custom-notifications td {
    padding: 8px;
}

.custom-notifications td.cn-check,
.custom-notifications td.cn-avatar,
.custom-notifications td.cn-delete {
    width: 1px;
}

.custom-notifications td.cn-is-new {
    width: 12px;
}

.custom-notifications td.cn-is-new {
    padding: 8px 0 8px 16px;
}

.custom-notifications td.cn-actions div {
    float: right;
    margin-left: 10px;
}

.custom-notifications td img.avatar {
    display: block;
}

.custom-notifications thead tr,
.custom-notifications tbody tr:hover {
    background-color: #f8f8f8;
}

.custom-notifications tbody tr.load-more,
.custom-notifications tbody tr.load-more:hover {
    background-color: inherit;
}

.custom-notifications tbody tr.load-more td {
    /*padding-top: 30px;*/
    height: 50px;
    text-align: center;
}
 
.custom-notifications tbody tr.load-more td div {
    margin: 20px 0 -20px 0;
}

.custom-notifications tbody tr.load-more .loader {
    display: none;
}

.custom-notifications tbody tr.load-more.loading div {
    display: none;
}

.custom-notifications tbody tr.load-more.loading div.loader {
    display: block;
}



/* Приватность страниц */

.profile-hidden #item-meta {
    display: none;
}


/* Стили для репоста */

body.repost-activity-form #whats-new-submit {
    display: none;
}

#repost-submit-wrap {
    float: right;
    margin-top: 12px;
}

/*.repost-activity {
    margin-top: 40px;
    margin-left: -21px;
}*/

/*.repost-activity .activity-inner {
    margin-left: 0px;
}*/


/* Кнопки "Нравится", "Избранное" и др. */

.activity-meta div.like,
.activity-meta div.favorite,
.activity-meta div.repost,
.activity-meta div.remove {
	position: relative;
    display: inline-block;
}

.activity-meta div.remove {
    float: right;
}

div a.bp-primary-action i {
	color: #AAA;
    transition-duration: 100ms;
}

div.active a.bp-primary-action i {
	color: #FA0;
    transition-duration: 100ms;
}



/* Уточнение всплывающих меню для кнопки "Нравится" */

div.like .mif-bpc-hint {
    right: auto;
}

div.like .mif-bpc-hint:before, 
div.like .mif-bpc-hint:after {
	left: 10px;
    border-top: 8px solid #E3E4E5;
}

div.like .mif-bpc-hint:after {
	left: 11px;
    border-top: 7px solid #F2F2F2;
}

div.like .mif-bpc-hint img.avatar {
    margin: 0;
    float: none;
    vertical-align: top;
}

div.like .mif-bpc-hint div {
    padding: 10px 5px;
    background: #F2F2F2;
    overflow: hidden;
}

div.like .mif-bpc-hint span.avatar, 
div.like .mif-bpc-hint span.more {
    margin: 3px;
}

div.like .mif-bpc-hint span.more i {
    display: inline-block;
    line-height: 20px;
    padding: 5px;
    background: #fff;
}

div.like .mif-bpc-hint span.more a {
    background-color: inherit;
}

div.like .mif-bpc-hint span.more span.wrap {
    display: inline-block;
    padding: 3px;
    border: 1px solid #e7e7e7;
}

div.like .mif-bpc-hint span.avatar a {
    padding: 0;
    display: inline;
}

div.like .mif-bpc-hint span.current_user {
    /*display: none;*/
    margin-left: -41px;
    opacity: 0;
    transition: opacity 100ms ease, margin 100ms ease-out;
}

div.like.active .mif-bpc-hint span.current_user {
    /*display: inline;*/
    margin-left: 3px;
    opacity: 1;
    transition: opacity 100ms ease 100ms, margin 100ms ease-out;
}

div.like .mif-bpc-hint span.n4 {
    /*display: inline;*/
    margin-right: 3px;
    transition: margin 100ms ease-out;
}

div.like.active .mif-bpc-hint span.n4 {
    /*display: none;*/
    margin-right: -44px;
    transition: margin 100ms ease-out;
}



/* Уточнение всплывающих меню для профиля пользователя */

#item-buttons .mif-bpc-hint {
    bottom: 30px;
}

i.banned-users.icon {
    float: right;
    margin: 17px 8px 0 0;
    color: #eaeaea;
}

i.banned-users.icon.none, 
.acomment-reply.none, 
.friendship-button.none,
.activity-meta div.repost.none,
.activity-meta div.like.none
{
    display: none;
}



/* Настройка всплывающих меню для ленты активности */

.mif-bpc-hint {
    position: absolute;
    margin: 0;
    padding: 0 0 15px 0;
    bottom: 20px;
    right: 0px;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms linear, visibility 100ms linear;
}

.mif-bpc-hint div {
    padding: 3px 0;
    background-color: #fff;
    border: 1px solid #E3E4E5; 
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

div:hover > .mif-bpc-hint, a:hover > .mif-bpc-hint, .mif-bpc-hint:hover {
    transition: opacity 100ms linear, visibility 100ms linear;
    visibility: visible;
    opacity: 1;
}

.mif-bpc-hint:before, .mif-bpc-hint:after {
	position: absolute;
	content: "";
	width: 0; 
    bottom: 7.5px;
	right: 10px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
    border-top: 8px solid #E3E4E5;
}

.mif-bpc-hint:after {
    bottom: 9px;
	right: 11px;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
    border-top: 7px solid #fff;
}

div.activity-meta .mif-bpc-hint a, #item-buttons .mif-bpc-hint a, .mif-bpc-hint a {
    color: #0086b3;
    padding: 4px 15px;
    display: block;
    background-color: #fff;
    border-radius: 0px;
    text-align: left;
    white-space: nowrap;
}

div.activity-meta .mif-bpc-hint a:hover, #item-buttons .mif-bpc-hint a:hover, .mif-bpc-hint a:hover {
    color: #222;
    display: block;
    background-color: #ededed;
}


/* Настройка кнопки на странице профиля пользователя */

div#item-header div.right, div#item-header div.generic-button.right {
    float: right;
}

div#item-header div.generic-button a.gray {
    background: #eaeaea;
    color: #828282;
}

div#item-header div.generic-button a.gray:hover {
    background: #414141;
    color: #fff;
}

.relative {
    position: relative;
}

/* Настройка кнопок в ленте активности */

div.activity-meta div.right {
    float: right;
}

div.activity-meta a.disable-activity-type {
    color: #828282;
}

div.activity-meta a.disable-activity-type:hover {
    color: #fff;
}

/* Настройка окна добавления пользователей */

.members-page .add-member {
    clear: both;
    padding: 1em;
    margin: 1em 0;
    border: 3px dashed #eaeaea;
}

.members-page .add-btn, .members-page .submit-btn {
    display: block;
    margin: 1.5em 0;
    text-align: center;
}

.members-page .add-form, .members-page .response-box {
    display: none;
}

.members-page .add-form div {
    overflow: hidden;
}

.members-page .add-form textarea {
    width: 100%;
    height: 6em;
}




/* Настройка форм настроек в профиле */

.nav-settings-form h4 {
    display: block;
    padding: 0 0 10px;
    margin: 2em 0 1em;
    border-bottom: 1px solid #E3E4E5;
}

.nav-settings-form label {
    display: block;
    margin: 0 0 0.5em;
}

.nav-settings-form label input {
    margin: 0 0 0 1em;
}


/* Настройка виджетов пользователей и групп */

.members_widget span.avatar, .groups_widget span.avatar {
    display: inline-block;
    margin: 0 4px 8px 4px;
}

.members_widget span.avatar img, .groups_widget span.avatar img {
    /*border: 3px solid #fff;*/
    float: left;
}




/* Настройка редактирования адреса группы */

.slug-edit {
    margin: 3em 0 0 0;
}

.slug-edit div {
    float: left;
    background-color: #E2E2E2;
    font-family: sans-serif;
    padding: 11px 12px;
    line-height: normal;
    border-radius: 2px;
}



/* Настройка загрузки фонового изображения */

.custom-background-image img {
    max-width: 640px;
}

.custom-background-wrapper h4 {
    border-bottom: 1px solid #E3E4E5;
    margin: 30px 0 20px;
    padding: 0 0 10px;
}



/* Настройка страницы настройки */


.settings_page_mif-bp-customizer table td.one {
    width: 20%;
}

.settings_page_mif-bp-customizer table td, .settings_page_mif-bp-customizer table th {
    vertical-align: top;
    padding: 8px 8px 24px 0px;
}

.settings_page_mif-bp-customizer table td label {
    vertical-align: top;
}

.settings_page_mif-bp-customizer table td h2 {
    margin-bottom: 0;
}











/* Убираем уменьшение элементов активности для mini-сообщений */

/*.activity-list li.mini {
    font-size: inherit!important;
}

.activity-list li.mini .activity-avatar img.FB_profile_pic, #buddypress .activity-list li.mini .activity-avatar img.avatar {
     height: inherit!important; 
     margin-left: inherit!important;
     width: inherit!important;
}*/

/*#buddypress div#message, #buddypress div.message, .bp-cover-image-status, .bp-avatar-status {
    margin: 1em 0;
    padding: 2em;
    text-decoration: none;
    background-color: #efefef;
    border: 0;
    border-left: 0;
    color: inherit;
    border-left: 4px solid #74C046;
}*/

/*#buddypress div#message p, #buddypress div.message p, #buddypress div#message.error p {
    margin: 0;
    margin-bottom: 1.5em;
    padding: 0;
    text-decoration: none;
    background-color: #efefef;
    border: 0;
    border-left: 0;
    color: inherit;
}*/

/*#buddypress div#message p:last-child, #buddypress div.message p:last-child {
    margin-bottom: 0;
}

#buddypress div#message.info, #buddypress div.message.info, .bp-cover-image-status, .bp-avatar-status {
    border-left: 4px solid #74C046;
}
*/
/*.bp-cover-image-status p.warning, .bp-avatar-status p.warning, .bp-template-notice p {
    margin: 0!important;
    padding: 0!important;
    text-decoration: none!important;
    background-color: #efefef!important;
    border: 0!important;
    border-left: 0!important;
    color: inherit!important;
}*/

/*#buddypress div#message.warning, #buddypress div.message.warning {
    border-left: 4px solid #F48625;
}

#buddypress div#message.error, #buddypress div.message.error {
    border-left: 4px solid #EE1C25;
}

#drag-drop-area {
    border: 3px dashed #eaeaea;
}


#buddypress table.forum tr.alt td, #buddypress table.messages-notices tr.alt td, #buddypress table.notifications tr.alt td, #buddypress table.notifications-settings tr.alt td, #buddypress table.profile-fields tr.alt td, #buddypress table.profile-settings tr.alt td, #buddypress table.wp-profile-fields tr.alt td {
       color: inherit;
}*/

